body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #ab29cb, #df5eff, #000, #000);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Segoe UI", sans-serif;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-left {
  width: 420px;
  padding: 35px;
  border-radius: 25px;
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(14px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.35);
}

.signup-card h1 {
  margin-bottom: 20px;
  font-weight: 800;
}

.profile-circle {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: rgba(255,255,255,0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.profile-circle span {
  font-size: 12px;
}

.profile-circle img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.input-group {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: rgba(255,255,255,0.12);
  color: white;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: #009dff;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.error { color: #ff4d4d; font-size: 12px; }
.success { color: #00ff88; font-size: 13px; }
